In [9]:
from pylab import plt, mpl
%matplotlib inline

In [10]:
import pickle 
import numpy as np
from random import gauss

In [11]:
a = [gauss(1.5, 2) for i in range(1000000)]

In [12]:
pkl_file = open('data.pkl', 'wb')

In [13]:
pickle.dump(a, pkl_file)

In [14]:
pkl_file.close()

In [15]:
pkl_file = open('data.pkl', 'rb')

In [16]:
x = pickle.load(pkl_file)

In [17]:
pkl_file.close()

In [19]:
x[:4]

[0.5249709188249849, 3.2338020577690045, 2.094460702793848, 4.575803712306168]

In [20]:
# Textfile

In [21]:
import pandas as pd

In [22]:
rows = 5000
a = np.random.standard_normal((rows, 5)).round(4)

In [23]:
a[:4]

array([[ 0.3424, -0.2336, -1.2622,  0.5963, -1.1881],
       [ 0.0807, -0.2229, -1.0273,  0.015 , -0.3872],
       [ 0.3353, -1.7458,  0.4074,  1.6942,  1.631 ],
       [ 2.9526,  0.756 , -0.1593, -1.5458,  0.1791]])

In [24]:
t = pd.date_range(start='2019/1/1', periods=rows, freq='H')
t

DatetimeIndex(['2019-01-01 00:00:00', '2019-01-01 01:00:00',
               '2019-01-01 02:00:00', '2019-01-01 03:00:00',
               '2019-01-01 04:00:00', '2019-01-01 05:00:00',
               '2019-01-01 06:00:00', '2019-01-01 07:00:00',
               '2019-01-01 08:00:00', '2019-01-01 09:00:00',
               ...
               '2019-07-27 22:00:00', '2019-07-27 23:00:00',
               '2019-07-28 00:00:00', '2019-07-28 01:00:00',
               '2019-07-28 02:00:00', '2019-07-28 03:00:00',
               '2019-07-28 04:00:00', '2019-07-28 05:00:00',
               '2019-07-28 06:00:00', '2019-07-28 07:00:00'],
              dtype='datetime64[ns]', length=5000, freq='H')

In [25]:
csv_file = open('data.csv', 'w')
header = 'date,no1,no2,no3,no4,no5\n'
csv_file.write(header)

In [27]:
for t_,(no1,no2,no3,no4,no5) in zip(t,a):
    s = '{},{},{},{},{},{}\n'.format(t_, no1, no2, no3, no4, no5)
    csv_file.write(s)

In [28]:
csv_file.close()

In [29]:
import csv

In [31]:
with open('data.csv', 'r') as f:
    csv_reader = csv.reader(f)
    lines = [line for line in csv_reader]

In [32]:
lines[:5]

[['date', 'no1', 'no2', 'no3', 'no4', 'no5'],
 ['2019-01-01 00:00:00', '0.3424', '-0.2336', '-1.2622', '0.5963', '-1.1881'],
 ['2019-01-01 01:00:00', '0.0807', '-0.2229', '-1.0273', '0.015', '-0.3872'],
 ['2019-01-01 02:00:00', '0.3353', '-1.7458', '0.4074', '1.6942', '1.631'],
 ['2019-01-01 03:00:00', '2.9526', '0.756', '-0.1593', '-1.5458', '0.1791']]

In [33]:
with open('data.csv', 'r') as f:
    csv_reader = csv.DictReader(f)
    lines = [line for line in csv_reader]

In [34]:
lines[:3]

[{'date': '2019-01-01 00:00:00',
  'no1': '0.3424',
  'no2': '-0.2336',
  'no3': '-1.2622',
  'no4': '0.5963',
  'no5': '-1.1881'},
 {'date': '2019-01-01 01:00:00',
  'no1': '0.0807',
  'no2': '-0.2229',
  'no3': '-1.0273',
  'no4': '0.015',
  'no5': '-0.3872'},
 {'date': '2019-01-01 02:00:00',
  'no1': '0.3353',
  'no2': '-1.7458',
  'no3': '0.4074',
  'no4': '1.6942',
  'no5': '1.631'}]

In [35]:
# SQL Database

In [36]:
import sqlite3 as sq3

In [38]:
con = sq3.connect('numbs.db')

In [39]:
query = 'CREATE TABLE numbs (Date date, No1 real, No2 real)'

In [40]:
con.execute(query)

In [41]:
con.commit()

In [42]:
q = con.execute

In [45]:
q('SELECT * FROM sqlite_master').fetchall()

[(u'table',
  u'numbs',
  u'numbs',
  2,
  u'CREATE TABLE numbs (Date date, No1 real, No2 real)')]