In [1]:
import re

series = ""
dt = re.compile("")
result = dt.findall(series)

re.findall("", series)

['']

In [4]:
from datetime import datetime

pydt = datetime.strptime(result[0].replace("'", ""), '%m/%d/%Y %H:%M:%S')
pydt
print(pydt)

ValueError: time data '' does not match format '%m/%d/%Y %H:%M:%S'

In [6]:
# tuple (immutable)
t = (1,2.5,'data')
t = 1,2.5,'data'
type(t)

tuple

In [7]:
# only count() and index() in tuple
t.count('data')
t.index(1)

0

In [12]:
# list
l = list(t) # convert to list
type(l)

list

In [13]:
l.append([4,3])
l.extend([6,5])
l.insert(1,'insert')
l.remove('data')
p = l.pop(3)
print(l)
p

[1, 'insert', 2.5, 6, 5]

[4, 3]

In [14]:
l[2:5]

[2.5, 6, 5]

In [16]:
# list-in
m = [i ** 2 for i in range(5)]
m

[0, 1, 4, 9, 16]

In [17]:
# dictionary
d = {
    'Name': 'Manabu Saito',
    'Country': 'Japan',
    'Age': 21
}
print(d['Name'], d['Age'])

('Manabu Saito', 21)

In [18]:
d.keys()

['Country', 'Age', 'Name']

In [19]:
d.values()

['Japan', 21, 'Manabu Saito']

In [20]:
d.items()

[('Country', 'Japan'), ('Age', 21), ('Name', 'Manabu Saito')]

In [23]:
# set
s = set(['u', 'd', 'ud', 'd', 'd', 'du'])
s

{'d', 'du', 'u', 'ud'}

In [24]:
list(s)

['ud', 'du', 'u', 'd']

In [26]:
s

{'d', 'du', 'u', 'ud'}

In [27]:
t = set(['dd', 'ud', 'uu', 'u'])

In [28]:
s.union(t)

{'d', 'dd', 'du', 'u', 'ud', 'uu'}